@import '../../../../../theme/variables';

.-wrapper {
  margin: $main-containers-margin;
}

.paper {
  margin: 0;
}

.-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .-key {
    color: $grey;
    margin-bottom: 5px;
  }

  mat-icon {
    position: relative;
    top: 1px;
  }

  .warning-icon {
    animation: alert-blinking 1s linear infinite;
    cursor: default;
  }
}
