<span *ngIf="whiteText" class="link white-text" [ngClass]="{'pl-0' : noPadding}" (click)="onClick($event)">
  {{ text | translate }}
  <mat-icon>{{ pointForward ? 'keyboard_arrow_right' : (pointDown ? 'keyboard_arrow_down' : 'keyboard_arrow_up') }}</mat-icon>
</span>

<span *ngIf="!whiteText" class="link" appThemeColorText [ngClass]="{'pl-0' : noPadding}" (click)="onClick($event)">
  {{ text | translate }}
  <mat-icon>{{ pointForward ? 'keyboard_arrow_right' : (pointDown ? 'keyboard_arrow_down' : 'keyboard_arrow_up') }}</mat-icon>
</span>
