@import '../../../../../theme/variables';
@import '../../../../../customize/styling';

$side-containers-width: 230px;
$bar-height: 50px;

:host {
  display: flex;
  color: $header-text-color;
  width: 100%;
}

.buttons-left {
  height: 0px;
  padding: 10px 0px 10px 10px;
  width: $side-containers-width;
}

.round-button {
  border-radius: 1000px;
  border: $header-text-color 1px solid;
  overflow: hidden;
  margin-bottom: 10px;
  min-width: 0px !important;
  line-height: 1;
  height: 40px;

  .coin-icon {
    margin-left: 4px;
    width: 20px;
    height: 20px;
  }

  .coin-name {
    margin-left: 5px;
    margin-right: 2px;
    font-size: $font-size-mini;
  }

  .main-container {
    display: flex;
    align-items: center;
    padding: 5px 0px;

    mat-icon {
      width: 22px;
      height: 22px;
      font-size: 22px;
    }

    .spinner-container {
      width: 22px;
      height: 22px;

      mat-spinner {
        height: 18px !important;
        width: 18px !important;
        opacity: 0.5;
        margin: 0 !important;
        position: relative;
        top: 2px;

        ::ng-deep svg {
          height: 18px !important;
          width: 18px !important;
        }
      }
    }
  
    .text-container {
      font-size: $font-size-mini;
      text-align: left;
      margin: 1px 8px 3px 8px;

      .first-label {
        opacity: 0.7;
        line-height: 1;
      }

      .second-label {
        line-height: 1;
      }
    }
  }
}

.blinking-warning-icon {
  font-size: 18px;
  vertical-align: middle;
  animation: alert-blinking 2s linear infinite;
}

.title {
  font-size: $font-size-standard;
  font-weight: 700;
  flex: 1 1 auto;
  letter-spacing: 1px;
  line-height: $bar-height;
  text-align: center;
}

.buttons-right {
  height: 0px;
  text-align: right;
  width: $side-containers-width;

  .button {
    height: $bar-height;
    width: $bar-height;
  }
}

.mat-menu-item {
  height: 50px;
  line-height: 50px;
  font-size: $font-size-standard-plus;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: $grey-very-light;
  margin: 8px 0px;
}

.flag {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
