@import '../../../../../theme/variables';

.mode-selector {
  text-align: right;
  height: 0px;

  app-double-button {
    display: inline-block;
    position: relative;
    top: -27px;
    right: -27px;
  }
}

.-options-wrapper {
  margin-top: 20px;
}

.-space-between {
  display: flex;
  justify-content: space-between;
}

.-available-msg {
  background-color: $grey-lightest;
  border: 1px dotted $grey-light;
  border-radius: $input-border-radius;
  padding: 10px;
  font-size: $font-size-mini;
  text-align: center;

  span {
    opacity: 0.7;
  }

  .value {
    opacity: 1 !important;
    font-weight: bold;
    font-size: $font-size-standard;
  }
}

.fee-spinner {
  mat-spinner {
    position: absolute;
    height: 10px !important;
    width: 10px !important;
    display: inline;

    ::ng-deep svg {
      height: 10px !important;
      width: 10px !important;
    }
  }
}

.fee-spinner-internal {
  height: 0px;
  position: relative;
  top: 5px;
  left: 5px;
}

.fee-link-copntainer {
  display: flex;
  align-items: center;

  .fee-spinner-external {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
  }
}
