/*********************
* Styles for the buttons.
*********************/
@import 'variables';

// Dark buttons for the wizard.
.dark-button button.enabled {
  background-color: $black !important;
  span {
    color: white;
  }
}

// Buttons without background.
.ghost-button button.enabled {
  background-color: transparent !important;
  span {
    color: black;
  }
}

// Mouse efects for the images used as buttons.
.image-button {
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 1;
  }
}

.icon-button {
  color: $grey !important;
  font-size: $font-size-standard !important;
  min-width: 140px !important;

  img {
    height: 32px;
    margin-left: -4px;
    width: 32px;
    position: relative;
    top: -2px;
  }
}
